
#root {
    padding: 0;
    font-family: 'Trebuchet MS', sans-serif;
}

header {
    box-sizing: border-box;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#siteLogo {
    font-family: 'Instrument Sans', sans-serif;
    font-size: 40px;
    color: #D9D9D9;
    text-align: left;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

#navIcons {
    width: 100%;
    list-style: none;
}

#body {
    box-sizing: border-box;
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
    place-items: center;
}

#content {
    box-sizing: border-box;
    width: 85%;
    height: 80vh;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    place-items: center;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 120px;
    grid-template-rows: 1fr 2fr 120px 120px 120px;
    grid-template-areas: 
        "select sidebar"
        "main sidebar"
        "main button1"
        "main button2"
        "main button3";
    grid-column-gap: 10px;
}

.snippetCode {
    resize: none;
    grid-area: main;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: left;
    align-items: start;
    font-family: Consolas;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #1F1F1F;
    border-color: #D9D9D9;
    border-width: 3px;
    border-top-width: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    text-wrap: nowrap;
    scrollbar-color: #171717;
}

.snippetLanguage {
    grid-area: select;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: 24px;
    font-family: 'Trebuchet MS', sans-serif;
    color:#D9D9D9;
    text-align: left;
    padding: 10px;
    background-color: #3C3C3C;
    border-color: #D9D9D9;
    border-width: 3px;
}

.snippetButton {
    width: 100px;
    height: 100px;
    place-items: center;
    border-color: #D9D9D9;
    border-width: 3px;
    border-radius: 30px;
}

#copyButton {
    grid-area: button1;
}

#refreshButton {
    grid-area: button2;
}

#addButton {
    grid-area: button3;
}

#confMessage {
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Trebuchet MS', sans-serif;
    color:#FFFFFF;
    background-color: #10101090;
    padding: 20px;
    z-index: 9999;
    transition: opacity 1s ease-in-out;
}