#root {
  padding: 0;
  font-family: "Trebuchet MS", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  box-sizing: border-box;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

hr {
  width: 100%;
  border: none;
  border-top: 2px solid #d9d9d9;
  margin: 0;
}

footer {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  margin: 0;
  padding: 20px 400px;
  text-align: center;
  color: #d9d9d9;
  font-size: 14px;
  width: 100%;
  height: auto;
  margin-top: auto;
}

button.snipConverterButton {
  display: flex;
  justify-content: center;
  text-align: center;
  border-color: blue;
}

h3.description {
  font-size: 25px;
  color: #d9d9d9;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
  margin-left: 400px;
  margin-right: 400px;
}

h4 {
  font-size: 15px;
  color: #d9d9d9;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 200px;
  margin-left: 400px;
  margin-right: 400px;
}

#siteLogo {
  font-family: "Instrument Sans", sans-serif;
  font-size: 10px;
  color: #d9d9d9;
  text-align: left;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}

#navIcons {
  width: 100%;
  list-style: none;
}

#body {
  box-sizing: border-box;
  margin: 0;
  padding-left: 30px;
  padding-right: 30px;
  align-content: center;
  text-align: left;
  place-items: center;
  flex: 1;
}

/* TODO:  REMOVE WHEN WORKING ON UI */
button {
  color: #d9d9d9;
  text-align: center;
}

