#root {
    padding: 0;
    font-family: 'Trebuchet MS', sans-serif;
}

header {
    box-sizing: border-box;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#siteLogo {
    font-family: 'Instrument Sans', sans-serif;
    font-size: 40px;
    color: #D9D9D9;
    text-align: left;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

#navIcons {
    width: 100%;
    list-style: none;
}

#body {
    box-sizing: border-box;
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
    align-content: center;
    text-align: left;
    place-items: center;
}

/* TEMPORARY - REMOVE WHEN WORKING ON UI */
button {
    color: #D9D9D9;
    text-align: center;
}